<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebCampBackendNew</title>
</head>
<body>
  <h1 class ="title-head">Books</h1>
  <thead>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <!--booksの一覧表示-->
  <div class ="container">
    <div class ="list1">
<% @books.each do |b| %>
<div class ="box">
  <%= b.title %>
</div>

<% end %>
    </div>
    <div class ="list2">
<% @books.each do |b| %>
<div class ="box">
  <%= b.body %>
</div>
<% end %>
    </div>

<div class ="list3">
<% @books.each do |b| %>
<div class ="box">
  <%= link_to "show","/homes/#{b.id}" %>
</div>
<% end %>
</div>

<div class ="list4">
<% @books.each do |b| %>
<div class ="box">
  <%= link_to "Edit","/homes/edit/#{b.id}" %>
</div>
<% end %>
</div>

<div class ="list5">
<% @books.each do |b| %>
<div class ="box">
  <%= link_to "Destroy",destroy_book_path(b), method: :delete %>
<% end %>
</div>
</div>

<div class ="new">
  <h2>New book</h2>
  <%= form_with model: @book, url:'/homes',local:true do |f| %>
  <div class = "form">
  <p class = "text1">Title</p>
  <%= f.text_field :title %>
  </div>
  <div class = "form">
  <p class= "text1">Body</p>
  <%= f.text_area :body %>
  </div>
  <%= f.submit 'Create Book' %>
  <% end %>
</div>
</body>
</html>