<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebCampBackendNew</title>
</head>
<body>
  <%= flash[:true1]%>
  <%= flash[:true]%>
  <p><strong>
    Title: <%= @book.title %>
  </strong></p>
  <p><strong>
    Body: <%= @book.body %>
    </strong></p>
    <p><%= link_to "Edit",edit_home_path(@book) %> | <%= link_to "Back", homes_path %></p>
</body>
</html>